h1{
    text-transform:uppercase;
}
body{
    background-color:black;
}
.image{
    border:5px solid white;
    width:100%;
}
.poster{
    text-align: center;
    width:50%;
    margin-left:25%;
    font-family:"Libre Baskerville", serif;
    color:white;

}